# Summary

In [ ]:
'''
1). list.append('value').     it  will add value to the end of list.
 
2). list.pop()..              it will remove the value from the end of list.

3). list.insert(3,'value')..  it will add value at 3rd index which is given in first index..

4). list.clear() .            it will return empty array like [].and clear() takes no arguments.

5). list.remove('element').   it will remove 'element' which is given in parameter..

6). list.index('value').       it will return the index of value..

7). list.sort()

8). { 'as','s','s'}.pop() . here pop will remove first element.. as
'''

# Summary_Tupple

In [ ]:
'''

'''

# Indexing

In [3]:
list1 = [ 'Aijaz', 'shehzad', 'Shehbaz']

print(list1[0]) # Aijaz

print(list1[-1]) # Shehbaz

print(list1[-2]) # Shehzad

print(list1[1]) # Shehzad

Aijaz
Shehbaz
shehzad
shehzad

# Slicing

In [2]:
list2 = [ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 10, 11]

print('list2[  : 2 ]',list2[  : 2 ])

print('list2[  3: ]',list2[ 3 :  ])

print(list2[ 0 : 7 : 2 ])

print(list2[ 2 : 9 : 3 ])

# Slicing In Reverse order

print(list2[  :: -1], ' reverse order')

print(list2[ 2 :: -1], 'slicing in reverse order')

print(list2[ 2 :: 4 ], 'slicing in reverse order')

print(list2[ 2 :: -3], 'slicing in reverse order')

for i in reversed(list2):
    print(i)
#     break

    
    # Slice Assignment
list2[0:1]=[22,33]
print(list2,'SA')
list2[3:4]=[223,323]
print(list2,'SAee')

list2[  : 2 ] ['0', '1']
list2[  3: ] ['3', '4', '5', '6', '7', '8', '9', 10, 11]
['0', '2', '4', '6']
['2', '5', '8']
[11, 10, '9', '8', '7', '6', '5', '4', '3', '2', '1', '0']  reverse order
['2', '1', '0'] slicing in reverse order
['2', '6', 10] slicing in reverse order
['2'] slicing in reverse order
11
10
9
8
7
6
5
4
3
2
1
0
[22, 33, '1', '2', '3', '4', '5', '6', '7', '8', '9', 10, 11] SA
[22, 33, '1', 223, 323, '3', '4', '5', '6', '7', '8', '9', 10, 11] SAee

In [5]:
mobileDetail = {
    'iphone5' : { 'price' : 50000, 'camera' : '20mgp', 'Battery' : '4000mAh'},
    'iphone6' : { 'price' : 60000, 'camera' : '25mgp', 'Battery' : '5000mAh'}
} 
# x = mobileDetail.keys()
# print(len(mobileDetail)
search = input('Search item =  ')
naMiley = search, 'smart phone not found'
for key in mobileDetail:
    if search == key :
        print('Price = ',  mobileDetail[key]['price'])
        print('Camera = ',  mobileDetail[key]['camera'])
        print('Battery = ',  mobileDetail[key]['Battery']) 
        break
    else:
        print(search, 'smart phone not found')
        break

Search item =  jkj
jkj smart phone not found

In [30]:
x=1
print(1 & 2)

0

In [114]:
list =[*range(0,12)]
print(list)

list.append('Aijaz')
print(list)

list.insert(12,'insert')
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'Aijaz']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'insert', 'Aijaz']

In [115]:
list.pop()
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'insert']

In [116]:
list.insert(5,'insert')
print(list)

[0, 1, 2, 3, 4, 'insert', 5, 6, 7, 8, 9, 10, 11, 'insert']

In [117]:
list.clear()
print(list)

[]

In [118]:
list=[*range(0,12)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [119]:
list.remove(1)
print(list)

list.remove(10)
print(list)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [120]:
list.sort()
print(list)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [121]:
list.sort(reverse = True)
print(list)

[11, 9, 8, 7, 6, 5, 4, 3, 2, 0]

In [122]:
['aijaz','gdhg','jh'].index('aijaz')
# print(list)

0

In [131]:
a= 'strings'
list.extend(a)
print(list)

[11, 9, 8, 7, 6, 5, 4, 3, 2, 0, 's', 't', 'r', 'i', 'n', 'g', 's', 't', 'r', 'i', 'n', 'g', 's']

In [132]:
list.count('s')
# print(list)

3

# Tuple

In [17]:
a = tuple([*range(0,12,2)] )
print(a)

(0, 2, 4, 6, 8, 10)

In [18]:
a[4]

8

In [25]:
for x in a:
    print(x)

0
2
4
6
8
10

In [29]:
a[2] = 0 # error

TypeError: 'tuple' object does not support item assignment

In [31]:
a.count(8)

1

In [32]:
a.index(6)

3

In [35]:
del a
print(a)

NameError: name 'a' is not defined

In [36]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [54]:
a = {*range(0,12)}
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [55]:
a.add('dd')
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'dd'}

In [56]:
a.update(['jhdj','yty'])
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'jhdj', 'yty', 'dd'}

In [57]:
a.remove(2)
print(a)

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'jhdj', 'yty', 'dd'}

In [58]:
a.discard(5)
print(a)

{0, 1, 3, 4, 6, 7, 8, 9, 10, 11, 'jhdj', 'yty', 'dd'}

In [62]:
a.pop()
print(a)

{4, 6, 7, 8, 9, 10, 11, 'jhdj', 'yty', 'dd'}

In [63]:
l = [ 'as','dsd','ds']
l.pop()
print(l)

['as', 'dsd']

In [66]:
a.clear()
print(a)

set()

In [67]:
b = a.copy()
print(b)

set()

In [77]:
d = {'name':'Aijaz'
     , 'detail' :{'class':'graduate',}
    }

print(d['detail']['class'])

d['detail']['class'] ='dd'

print(d['detail']['class'])

graduate
dd

In [79]:
d.pop('detail')
print(d)

{'name': 'Aijaz'}

In [93]:
d.items()

dict_items([('name', 'Aijaz')])

In [94]:
d.values()

dict_values(['Aijaz'])

In [95]:
d.keys()

dict_keys(['name'])

In [96]:
d.fromkeys(['name'])

{'name': None}

In [113]:
x=['name','fname','rN']
y=['Aijaz','Ali Akbar','12550']
n={}
for i in range(0,len(x)):
    n[x[i]]= y[i];
print(n)

{'name': 'Aijaz', 'fname': 'Ali Akbar', 'rN': '12550'}

In [117]:
lis = [12,3,4,5,6,6,]
print(lis[:2])
print(lis[2:])

[12, 3]
[4, 5, 6, 6]

In [119]:
lis = [12,3,4,5,6,6,]
print(lis[::2])
print(lis[2:])

SyntaxError: invalid syntax (<ipython-input-119-6efc725fed2c>, line 2)